* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
header {
  padding: 2.5vh 0;
}
.ul {
  list-style: none;
}
.ul li a,
.btn a {
  text-decoration: none;
  color: #1a233b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.btn {
  padding: 8px 24px;
  font-size: 18px;
  border: 2px solid #1a233b;
  border-radius: 4px;
  background-color: rgb(26, 35, 59, 0.1);
}
.primary--btn {
  padding: 18px 67px;
  background: #1f50fe;
  border: 1px solid #1f50fe;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 100%;
}
.logo h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #1f50fe;
}
.centicore {
  height: auto;
  background-image: linear-gradient(
    to right,
    #cbd2ff 12.23%,
    #d9e1ff 50.72%,
    #e6efff 62%,
    #1a233b 38%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 80px 0;
}
.calculate {
  width: 70%;
  padding: 0 12px 0 0;
}
.total {
  width: 30%;
  color: #ffffff;
  height: auto;
  padding: 0 0 0 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.calc--heading {
  font-size: 50px;
  line-height: 150%;
}
.total--heading {
  font-size: 50px;
  line-height: 150%;
  color: #ffffff;
}
.ant-slider-handle::after {
  background: #d01c28 !important;
  box-shadow: 0 0 0 8px rgb(208, 28, 40, 0.3) !important;
}
.ant-slider-track {
  background: #1f50fe !important;
}
.ant-slider-dot {
  width: 1px !important;
  height: 1px !important;
  inset-block-start: 1px !important;
  border: 1px solid #f0f0f0 !important;
}
.calc--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #1a233b;
  margin: 32px 0 24px 0;
}
.calc--box {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px;
  align-items: normal;
  flex-wrap: wrap;
}
.service input[type="radio"] {
  accent-color: #1f50fe;
  padding: 4px;
  width: 18px;
  height: 18px;
}
.service {
  display: flex;
  align-items: center;
  gap: 4px;
}
.checking input[type="checkbox"] {
  padding: 6px;
  position: relative;
  appearance: none;
  border: 2px solid #1a233b;
  cursor: pointer;
}
.checking input[type="checkbox"]:checked {
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background: #1f50fe;
  border: 2px solid #1f50fe;
}
.checking {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.result {
  margin: 24px 0;
}
.result--item {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.radio {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  padding: 6px 12px;
  align-items: center;
  display: flex;
  gap: 9px;
}
.none {
  background: #ffffff;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 4px;
  border: none;
  font-size: 16px;
}
.range {
  width: 700px;
}
.result--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin: 32px 0 8px 0;
}

.popup,
.send {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-content {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: #ffffff;
  padding: 24px;
  width: auto;
}
.popup-content {
  width: 75%;
  height: auto;
  background-image: linear-gradient(
    to right,
    #ffffff 50%,
    #fbfbfb 50%,
    #fbfbfb 100%
  );
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}
.happen--heading {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}
.form,
.happen {
  width: 50%;
  padding: 50px;
}
.form--content {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}
.checkbox--label {
  margin: 40px 0 0 0;
}
.primary--label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.labIn {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
}
.label input {
  border-bottom: 1px solid #000000;
  border-radius: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 8px 16px;
  bottom: 0 !important;
  position: relative;
  outline: none;
}
.label input:focus {
  border-bottom: 1px solid #1f50fe;
}
.primary {
  color: #1f50fe;
}

.primary--label span {
  padding-left: 16px;
}
.form__btn {
  margin-top: 54px;
}
.happen__suite {
  list-style: none;
  gap: 29px;
  display: flex;
  flex-direction: column;
  margin: 37px 0 48px 0;
}
.number {
  background: #e9ecff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1a233b;
  padding: 8px 14px;
  border-radius: 50%;
  margin-right: 10px;
}
.hr--line {
  border: 1px solid #d2d2d2;
  margin: 40px 0;
}
.sponsor {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  margin: 54px 0 0 0;
}
.mistake button {
  background: #d01c28;
  border: 1px solid #d01c28;
  width: auto;
}
.mistake,
.correct {
  text-align: right;
}
.close {
  text-align: right;
  margin: 24px;
}
.close button {
  width: 32px;
  height: 32px;
  padding: 8px;
  border: 1px solid #d01c28;
  border-radius: 50%;
  background-color: #d01c28;
  color: #ffffff;
}

.correct button {
  width: auto;
}
.send--title {
  margin: 24px 0;
}
@media screen and (max-width: 1300px) {
  .container {
    width: 90%;
  }
  .calculate {
    width: 50%;
  }
  .calc--box {
    grid-template-columns: auto auto;
  }
  .range {
    width: 100%;
  }
  .calc--heading {
    line-height: 100%;
    margin-bottom: 24px;
  }
  .labIn{
    margin: 0 0 12px 0;
  }
  .label{
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 1145px) {
  .calc--box {
    grid-template-columns: auto;
  }
  .ant-slider-mark-text {
    transform: rotate(30deg) !important;
    top: 10px;
  }
  .primary--btn {
    padding: 24px 6px;
  }
  .module {
    flex-wrap: wrap;
  }
  .form, .happen{
    width: 100%;
  }
  .popup-content{
    overflow: scroll;
    height: 90vh;
  }
}
@media screen and (max-width:940px){
  .calc--heading{
    font-size: 42px;
  }
}
@media screen and (max-width: 700px) {
  .row {
    flex-wrap: wrap;
  }
  .calculate {
    width: 100%;
  }
  .total {
    width: 100%;
    padding: 12px 0;
    background-color: #1a233b;
  }
  .calc--box {
    grid-template-columns: auto auto;
  }
  .centicore {
    background-image: linear-gradient(
      to bottom,
      #cbd2ff 12.23%,
      #d9e1ff 50.72%,
      #e6efff 61%,
      #1a233b 50%
    );
  }
  .send-content, .calc--heading{
    width: 90%;
  }
}
