*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1680px;
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}